// variabelen gaan declareren zodat ze daarna kunnen opgeroepen worden 
$primary-blue: #151B26;
$primary-red: #A6032F;
$primary-pink:#732751;
$primary-darkpurple: #724EBF;
$primary-lightpurple: #886BF2;
$primary-white: #ebebeb;
$primary-grey: #525252